<html>
    <head>
    </head>
    <title>
    </title>
    <body>
        <h1>회원탈퇴 폼</h1>
        <form action="/deleteMember" method="post" >
            <table>
                <tr>
                    <th>ID : </th> 
                    <td>
                    <input type="text" name="member_id" value=<%=deleteMember.member_id%> readonly></input>
                    </td>
                </tr>
                <tr>
                    <th>NAME : </th> 
                    <td>
                        <input type="text" name="member_name" value=<%=deleteMember.member_name%> readonly></input>
                    </td>
                </tr>
                <tr>
                    <th>PW : </th> 
                    <td>
                        <input type="password" name="member_pw" ></input>
                    </td>
                </tr>
            </table>
                <button type="submit">탈퇴하기</button>         
        </form>
    </body>

</html>

