<html>
    <head>
    </head>
    <title>
    </title>
    <body>
        <h1>로그인 폼</h1>
        <form action="/login" method="post" >
            <div>
                ID :
                <input type="text" name="member_id">
            </div>
            <div>
                PW :
                <input type="password" name="member_pw">
            </div>
            <div>
                <button type="submit">로그인</button>
            </div>

        </form>
        <a href = '/addMember'>회원가입</a>
    </body>

</html>

